@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Quicksand:wght@300;500&display=swap');

/* font-family: 'Abril Fatface',
cursive;
font-family: 'Anton',
sans-serif;
font-family: 'Quicksand',
sans-serif; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif, Helvetica Neue, sans-serif;
  color: rgb(48, 48, 48);
  background-color: rgb(42, 42, 42);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

}